<div class="row" >
    <h2>Hard & Soft Skills</h2>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../assets/html5.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#245501'"
            [innerStrokeColor]="'#f4f0bb'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../assets/css3.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#245501'"
            [innerStrokeColor]="'#f4f0bb'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../../assets/javascript5.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#245501'"
            [innerStrokeColor]="'#f4f0bb'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../../assets/angular.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#245501'"
            [innerStrokeColor]="'#f4f0bb'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../assets/git.svg'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#245501'"
            [innerStrokeColor]="'#f4f0bb'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../../assets/trabajo_equipo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#245501'"
            [innerStrokeColor]="'#f4f0bb'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
